.Results {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4e0e0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 28px;
    color: #333;
    text-align: left;
    
  }
  
  h3 {
    font-size: 18px;
    color: #555;
  }
  
  h2 {
    font-size: 24px;
    color: #444;
  }
  
  p {
    font-size: 16px;
    color: #666;
  }
  
  hr {
    border: 3px solid #c17f7f;
    margin: 10px 0;
  }
  
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.error-message{
    color: red;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-align: center;
}